<h2>{{ site.course_abbrev }} Dashboard</h2>

<table class="table table-striped" id='dashboard'>
	<tr>
		<td>Unanswered Questions</td>
		<td id="uq" style='text-align:right;'>&nbsp;</td>
	</tr>
</table>

<!-- Set site.twitter to false if not desired -->
<div class="tweet"></div>


<!--
And, I'll want to look at <a href="http://ivanzuzak.info/2011/02/18/github-hosted-comments-for-github-hosted-blogs.html">how to embed issues directly</a> into a page using Javascript. This way, current questions/issues can be part of the course website.
-->
