<h2>This is TAD 265</h2>

And, I'll want to look at <a href="http://ivanzuzak.info/2011/02/18/github-hosted-comments-for-github-hosted-blogs.html">how to embed issues directly</a> into a page using Javascript. This way, current questions/issues can be part of the course website.

<!-- Orig Material from Eric's site...
				  <p><img src="http://www.gravatar.com/avatar/ca1556da271e3177836fdd55bc926ecd.png" alt="Eric Jones" title="Follow me on Twitter @erjjones" class="floatLeft" />I am a student for life, amateur software engineer, car enthusiast, and wanna be chef.  Most importantly I am a father, husband and a Christian.</p>	  		  
				  <br/>
				  <p><a href="https://twitter.com/erjjones" class="twitter-follow-button btn btn-mini" data-show-count="false">Follow @erjjones</a> &nbsp; <a href="https://twitter.com/share" class="twitter-share-button" data-via="erjjones">Tweet</a></p>		  				  
				  <p><a id="gf" href="https://github.com/erjjones/followers" title="Go to Erjjones GitHub followers page" target="_blank"></a> | <a id="gfr" href="https://github.com/erjjones/repositories" title="Go to Erjjones GitHub repositories page" target="_blank"></a> | <a href="https://github.com/erjjones/Feedback/issues/new" target="_blank">Leave me feedback</a></p>	
-->