<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="{{ site.github_root }}{{ site.github }}">{{ site.course }}</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		<!--
		  <li class="active">
			<a href="{{ site.github_root }}{{ site.repos }}">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		-->
		  <li class="">
			<a href="{{ site.github_root }}{{ site.repos }}/issues/new" target="_blank">Ask a Question</a>
		  </li>
		  <li class="divider-vertical"></li>

		  <li class="">
			<a href="{{ site.pages_root }}" target="_blank">GitHub</a>
		  </li>
		</ul>
	  </div>
	</div>
  </div>
</div>