{% comment %}
From http://tweet.seaofclouds.com/
{% endcomment %}

<script type='text/javascript'>
    jQuery(function($){
        $(".tweet").tweet({
            username: "{{ site.twitter }}",
            join_text: "auto",
            avatar_size: 16,
            count: {{ site.tweets }},
            auto_join_text_default: "", 
            // auto_join_text_ed: "we",
            // auto_join_text_ing: "we were",
            // auto_join_text_reply: "we replied to",
            auto_join_text_url: "",
            loading_text: "loading tweets...",
			template: "{avatar} {text} ({time})" 
        });
    });
</script>